	<style>
		body{
			background-color:#1D6AB4;
			color:#FFFFFF;
		}
		.error{
			margin:15% auto;
			text-align:center;
		}
		.error h1{
			font-size:48px;
		}
		.error a{
			color:#FFFFFF;
		}
		@media only screen and (max-width: 480px) {
			.error h1 {
				font-size:30px;
			}	
			.error h1 img{
				width:34px;
				
			}
			.error h2{
				font-size:16px;
				
			}
		}
	</style>

	<div class="error">
		<h1><img src="images/emoji_eyes.gif" alt="Oo" width="60" alt="OO"/>ps! Are you lost?</h1>
			<% if (typeof data!== 'undefined') { %>
			<%= data %>
			<% } else { %>
			The page you were trying to reach doesn't exist.
			<% } %>
			<h2>Go To <a title="Ir para Pagina Inicial" href="https://felipefm32.com">Home</a></h2>
			
			<h3><img src="/images/logo.png" alt="Logo felipefm32" width="150" title="logo"></h3>

	</div>